<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
      <plist version="1.0">
      <dict>
         <key>items</key>
         <array>
            <dict>
               <key>assets</key>
               <array>
                  <dict>
                     <key>kind</key>
                     <string>software-package</string>
                     <key>url</key>
                     <string>https://fupload.installonair.com/app-download/t4gcgv</string>
                     
                     </dict>
                  <dict>
                                    <key>kind</key>
                                    <string>display-image</string>
                                    <key>needs-shine</key>
                                    <false/>
                                    <key>url</key>
                                    <string>https://fupload.installonair.com/storage/ipaz/t4gcgv/t4gcgv.png</string>
                            </dict>
               </array>
               <key>metadata</key>
               <dict>
                  <key>bundle-identifier</key>
                  <string>com.D2931F4C-6079-4972-B5EF-8BD99BFB1DF1</string>
                  <key>bundle-version</key>
                  <string>2.610.472</string>
                  <key>kind</key>
                  <string>software</string>
                  <key>title</key>
                  <string>Roblox</string>
               </dict>
            </dict>
         </array>
      </dict>
      </plist>
